@import "nativescript-theme-core/css/core.light.css";

#title {
  font-weight: bold;
  color: #0CF;
}

.container {
  padding: 0 10%;
}

#send-status > * {
  margin: 6px 3px;
  font-size: 10px;
}

.tel-label-sending    { color: #999 }
.tel-label-maybe-sent { color: #16C }
.tel-label-sent       { color: #09D }
.tel-label-delivered  { color: #0B0 }
.tel-label-fail       { color: #C00 }

#log .time {
  font-size: 10px;
}
